body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

h1 {
  font-size: 55px;
}

button {
  font-size: 25px;
  cursor: pointer;
}
